body {
  margin: 0;
  background: #000;
  color: #ffd400;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 40px;
}

h1 {
  font-size: 2.2rem;
}

button {
  background: #ffd400;
  color: #000;
  border: none;
  padding: 14px 26px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}
